<%= form_with(model: [conversation, message], class: "flex items-center space-x-4 p-2 bg-white border-t border-gray-200", data: { controller: "message-form", "message-form-conversation-id-value": conversation.id, "message-form-current-user-id-value": current_user.id }) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation" class="text-red-500 text-sm mb-2">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_area :body, class: "flex-grow border-gray-300 rounded-full py-2 px-4 focus:ring-blue-500 focus:border-blue-500 resize-none overflow-hidden", rows: 1, placeholder: "Type your message...", data: { action: "keydown->message-form#handleKeydown input->message-form#resize input->message-form#typing", "message-form-target": "textarea" } %>
  <%= form.button type: "submit", class: "bg-blue-600 text-white p-2 rounded-full hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2", data: { "message-form-target": "submitButton" } do %>
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
  <% end %>
<% end %>