<div class="min-h-screen bg-gray-50 dark:bg-gray-900 py-6 sm:py-8" data-controller="tabs">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 md:px-8 space-y-4 sm:space-y-6 md:space-y-8">
    <%= render 'profiles/header', user: @user, is_own_profile: @is_own_profile %>
    <%= render 'profiles/tabs' %>

    <section id="about" data-tabs-target="section" data-tab="about" class="space-y-4 sm:space-y-6">
      <%= render 'profiles/bio_form', user: @user, is_own_profile: @is_own_profile %>
      <%= render 'profiles/tags', user: @user, location_tags: @location_tags, profession_tags: @profession_tags, is_own_profile: @is_own_profile %>
      <%= render 'profiles/gallery', user: @user, is_own_profile: @is_own_profile %>
    </section>

    <section id="offerings" data-tabs-target="section" data-tab="offerings" class="hidden">
      <%= render 'profiles/offerings', offerings: @offerings %>
    </section>

    <section id="stories" data-tabs-target="section" data-tab="stories" class="hidden">
      <%= render 'profiles/reviews', reviews: @user.reviews %>
    </section>

    <section id="reels" data-tabs-target="section" data-tab="reels" class="hidden">
      <div class="text-center text-gray-500 dark:text-gray-400 py-8">Reels coming soon</div>
    </section>
  </div>
</div>
