<!DOCTYPE html>
<html>
  <head>
    <title>VisitmeetV2</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YZSMFSQDZM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YZSMFSQDZM');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= javascript_pack_tag 'profile_tags', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <% unless  current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(new_user_password_path) %>
      <%= render "layouts/navbar" %>
    <% end %>

    
    <div class="flash-messages">
      <% if notice.present? %>
        <p class="notice bg-green-500 text-white p-4 rounded-md"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p class="alert bg-red-500 text-white p-4 rounded-md"><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>

    
     <% unless  current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(new_user_password_path) %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
